.filter {
    border: none;
    border-radius: 15.872px;
    padding: 6px 14px;
    color: var(--groovy-white);
    font-family: 'Lexend';
    font-size: 13.33px;
    margin: 5px;
    transition: background-color 0.8s; 
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    height: 28px;
}

.filter :hover {
    opacity: 0.8
}

.active {
    color: var(--groovy-black);
}