@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
  }
  
  @font-face {
    font-family: 'PP Monument Extended Light';
    src: url('/fonts/PPMonumentExtended-Light.otf');
  }
  
  @font-face {
    font-family: 'Lexend Semibold';
    src: url('/fonts/Lexend-SemiBold.ttf');
  }

.test h4{
    color: white;
    margin-bottom: 20px;;
    font-family: 'Lexend';
}

.test2 h6{
    color: white;
    margin-bottom: 20px;
    font-family: 'Lexend';
}

.test2 {
  display: flex;
  justify-content: center;
}

.subtitle {
  color: var(--groovy-white, #FFF);
  font-size: 13px;
  margin-top: 2px;
  font-family: 'Lexend Semibold';
  text-align: center;
}

.artist {
  color: var(--groovy-white, #FFF);
  font-size: 13px;
  margin-top: 2px;
  font-family: 'Lexend';
  text-align: center
}