@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Light';
    src: url('/fonts/PPMonumentExtended-Light.otf');
}

@font-face {
    font-family: 'Lexend Semibold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

@font-face {
    font-family: 'Lexend Thin';
    src: url('/fonts/Lexend-Thin.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Regular';
    src: url('/fonts/PPMonumentExtended-Regular.otf');
}

.main {
    background: var(--background-black);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

.container {
    height: 100vh;
}


.title {
    background: var(--background-black);
    border: solid var(--background-black) 2px;
    width: 430px;
    padding-left: 28px;
}

.title h1 {
    font-family: 'PP Monument Extended Regular';
    font-size: 40px;
    padding-top: 30px;
}

.title h2 {
    font-family: 'Lexend';
    font-size: 33.18px;
    
}

.nav {
    position: fixed;
    bottom: 0;
}