.main {
    background: var(--background-black);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

.container {
    height: 100vh;
    width: 430px;

}


.title {
    background: var(--background-black);
    border: solid var(--background-black) 2px;
    width: 430px;
    padding-left: 28px;
}

.title h1 {
    font-family: 'PP Monument Extended Regular';
    font-size: 40px;
    padding-top: 30px;
}

.title h2 {
    font-family: 'Lexend';
    font-size: var(--lexend-header);
    
}

.nav {
    position: fixed;
    bottom: 0;
}