@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Regular';
    src: url('/fonts/PPMonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Lexend Bold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    background-color: var(--background-black);
    width: 430px;
    height: 932px;
}

.grooveHeader {
    display: flex;
    font-size: 4rem;
    color: var(--groovy-white);
    font-family: 'PP Monument Extended Regular', Arial, Helvetica, sans-serif;
}

.paragraph {
    font-size: var(--lexend-body);
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    color: var(--groovy-white) ;
}