.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-black);
}

.genresHeader {
    display: flex;
    font-size: var(--lexend-header);
    color: var(--groovy-white);
    font-family: 'Lexend';
    text-align: center;
    margin-bottom: 35px;
}

.paragraph {
    font-size: var(--lexend-body);
    font-family: 'Lexend';
    color: var(--groovy-white) ;
    padding: 10px;
    width: 405px;
    margin-top: 20px;
}

.chartCanvas {
    font-family: 'Lexend';
}

.buttonContainer {
    font-family: 'Lexend Bold';
    font-size: var(--lexend-body);
    background-color: var(--button-gray);
    color: var(--groovy-white);
    width: 158px;
    height: 45px;
    padding: 13px 22px 12px 20px;
    border-radius: 29.5px;
    border: 3px solid var(--groovy-white);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: none;
}

.buttonContainer:hover {
    border: 3px solid var(--groovy-purple);
}

.backbuttonContainer {
    width: 405px;
    margin-top: 67px;
    margin-left: 12px;
    margin-bottom: 70px;
}


.canvasContainer {
    width: 380px;
    height: 450px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotifyButton {
    display: flex;
    font-family: 'Lexend Bold' , Arial, Helvetica, sans-serif;
    color: var(--background-black);
    text-decoration: none;
    background-color: #1ed760;
    cursor: pointer;
    width: 243px;
    height: 48px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraphLogin {
    font-size: var(--lexend-body);
    font-family: 'Lexend';
    color: var(--groovy-white) ;
    padding: 10px;
    width: 405px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 100px;
}

.chartContainer {
    border: 2px solid var(--groovy-white);
    border-radius: 20px;
}