@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Regular';
    src: url('/fonts/PPMonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Lexend Bold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-black);
    height: 932px;
}

.genresHeader {
    display: flex;
    font-size: var(--lexend-header);
    color: var(--groovy-white);
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    text-align: center;
}

.paragraph {
    font-size: var(--lexend-body);
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    color: var(--groovy-white) ;
    padding: 10px;
    width: 405px;
}

.chartCanvas {
    width: 400px;
    height: 400px;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttonContainer {
    font-family: 'Lexend Bold' , Arial, Helvetica, sans-serif;
    font-size: var(--lexend-body);
    background-color: var(--button-gray);
    color: var(--groovy-white);
    width: 158px;
    height: 45px;
    padding: 13px 22px 12px 20px;
    border-radius: 29.5px;
    border: 3px solid var(--groovy-white);
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

.buttonContainer:hover {
    border: 3px solid var(--groovy-purple);
}

.backbuttonContainer {
    width: 405px;
    margin-top: 67px;
    margin-left: 12px;
    margin-bottom: 120px;
}
