.parentContainer {
    background: var(--background-black);
    color: var(--groovy-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
}

.answersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 430px;
}


.answerButton {
    background: var(--dark--grey);
    border: solid 4px white;
    color: white;
    padding: 14px 52px 13px 51px;
    border-radius: 30px;
    margin-top: 50px;
    transition: all 0.3s;
    font-family: 'Lexend';
    font-size: var(--lexend-body);
}

.answerButton:active {
    background: var(--groovy-purple);
    border: solid 4px var(--groovy-purple);
    color: var(--groovy-black);

}

.answerButton:focus {
    background: var(--groovy-purple-light);
    border: solid 4px var(--groovy-purple-light);
    color: var(--groovy-black);
    font-family: 'Lexend Semibold';
}

.submitButton:focus{
    background: var(--groovy-purple-light);
    border: solid 4px var(--groovy-purple-light);
    color: var(--groovy-black);
    fill: var(--groovy-black);
}

.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 60px;
    width: 380px;
}

.submitButton:active{
    background-color: var(--groovy-purple);
    border: solid 4px var(--groovy-purple);
}

.submitButton {
    background: #0E0F11;
    color: var(--groovy-white);
    border: solid 4px var(--groovy-purple);
    border-radius: 12px;
    height: 39px;
    width: 125px;
    font-size: 23.04px;
}

.question {
    text-align: center;
    font-family: 'Lexend';
    font-size: 18px;
    margin-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.navBar {
    position: fixed;
    bottom: 0;
}

.nextArrow {
    margin-left: 13px;
    fill: white;
}

.backArrow {
    margin-right: 13px;
    fill: white;
}

.submitButton:focus .nextArrow   {
    fill: black; 
}

.submitButton:focus .backArrow {
    fill: black !important;
}
