@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}
  
@font-face {
    font-family: 'PP Monument Extended Light';
    src: url('/fonts/PPMonumentExtended-Light.otf');
}
  
@font-face {
    font-family: 'Lexend Semibold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend';
    color: white;
    height: 80vh;
}

.result h3 {
    text-align: center;
    margin-bottom: -145px;
    margin-top: -30px;
}

.result>:nth-child(2) {
    margin-top: 70px !important;
    margin-left: -10px !important;
    padding-top: 90px !important;
} 

.test {
    border: 2px white solid;
    border-radius: 35px;
    height: 420px;
    width: 360px;
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%; 
    position: absolute;
}

.logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    position: absolute;
    z-index: -3;
    filter: blur(5px);
}

.spotify {
    display: flex;
    justify-content: center;
    background: #242527;
    padding: 15px 36px 15px 36px;
    border: #242527;
    border-radius: 26px;
    font-family: 'Lexend';
    color: white;
    margin-top: 20px;
}

.spotify:hover {
    border: solid 2px #D4C4FF ;
}

.groove {
    margin-top: 30px;
    font-family: 'PP Monument Extended Light';
    font-size: 17px;
    text-align: center;
}

.nav {
    position: fixed;
    bottom: 0;
}

/*CHIPS STYLING*/

.chip {
    padding: 3px 10px;
    height: auto;
    font-family: 'Lexend';
    font-weight: bold;
}

.chip:not(:last-child) {
    margin-right: 7px;
}

.chip.sad {
    color: black;
    border-radius: 20px;
    background: #D4C4FF
}
  
.chip.gloomy {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}
  
.chip.melancholy {
    color: black;
    border-radius: 20px;
    background: #F6C65C;;
}

.chip.upbeat {
    color: black;
    border-radius: 20px;
    background: #D4C4FF
}

.chip.hype {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}

.chip.rap {
    color: black;
    border-radius: 20px;
    background: #F6C65C;
}

.chip.party {
    color: black;
    border-radius: 20px;
    background: #D4C4FF
}

.chip.nostalgic {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}

.chip.Y2K {
    color: black;
    border-radius: 20px;
    background: #F6C65C;
}

.chip.indie {
    color: black;
    border-radius: 20px;
    background: #D4C4FF
}

.chip.chill {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}

.chip.LoFi {
    color: black;
    border-radius: 20px;
    background: #F6C65C;
}

.chip.country {
    color: black;
    border-radius: 20px;
    background: #D4C4FF
}

.chip.folk {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}

.chip.blue {
    color: black;
    border-radius: 20px;
    background: #F6C65C;
}

.chip.booster {
    color: black;
    border-radius: 20px;
    background: #D4C4FF 
}

.chip.energy {
    color: black;
    border-radius: 20px;
    background: #DC7755;
}

.chip.happy {
    color: black;
    border-radius: 20px;
    background: #F6C65C;
}
