.parentContainer {
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    position: static;
}

.answersContainer {
    display: flex;
    flex-direction: column;
    margin-top: -400px;
}

.answerButton {
    background: #242527;
    border: solid 4px white;
    color: white;
    padding: 14px 52px 13px 51px;
    border-radius: 30px;
    margin-top: 50px;
    transition: all 0.3s;
    font-family: 'Lexend';
}

.answerButton:active {
    background: #D4C4FF;
    border: solid 4px #D4C4FF;
    color:#000000;

}

.answerButton:focus {
    background: #D4C4FF;
    border:solid 4px #D4C4FF;
    color: #000000;
    font-family: 'Lexend Semibold';
}

.submitButton:focus {
    background: #D4C4FF;
    border: solid 4px #D4C4FF;
    color:#000000;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-top: 60px;
    width: 350px;
}

.submitButton:active {
    background-color: #D4C4FF;
    border: solid 4px #D4C4FF;
}

.submitButton {
    background: #0E0F11;
    color: white;
    border: solid 4px #9e80f1;
    padding: 5px 16px;
    border-radius: 12px;
}

.question {
    text-align: center;
    margin: 20px 0;
    font-family: 'Lexend';
    position: static;
}
