@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
  font-family: 'PP Monument Extended Light';
  src: url('/fonts/PPMonumentExtended-Light.otf');
}

@font-face {
  font-family: 'Lexend Semibold';
  src: url('/fonts/Lexend-SemiBold.ttf');
}

.container {
  background: var(--background-black);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  min-height: 766px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 4px !important;
  height: 20px;
}
  
.scroll::-webkit-scrollbar-track {
  background: var(--background-black) !important;
}
  
.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}
 
.scroll:hover::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px !important;
}

.groove h1 {
  font-size: 40px;
  color: var(--groovy-white);
  font-family: 'PP Monument Extended Light';
  padding-top: 30px;
}

.groove {
  background: var(--background-black);
  border: solid var(--background-black) 2px;
  width: 430px;
  padding-left: 30px;
}

.nav {
  position: fixed;
  bottom: 0;
}

.feed {
  font-family: 'Lexend';
  font-size: 23px;
  color: #9166EC;
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 430px;
  margin-bottom: 40px;
}
