:root {
/* COLOR STYLES */
--groovy-purple: rgba(158, 128, 241, 1);
--groovy-red: rgba(220, 119, 85, 1);
--groovy-yellow: rgba(246, 198, 92, 1);
--groovy-black: rgba(0, 0, 0, 1);
--groovy-white: rgba(255, 255, 255, 1);
--unselected-icongrey: rgba(125, 126, 128, 1);
--background-black: rgba(14, 15, 17, 1);
--unselected-button-lightgrey: rgba(217, 217, 217, 1);
--dark--grey: rgba(36, 37, 39, 1);
--button-gray: rgba(54, 55, 57, 1);

/* TEXT-SIZE */
/* base size: lexend---body (16px) */
--lexend-body: 1rem;
--lexend-subheader: 1.44rem;
--lexend-header: 2.07rem;
--lexend-header-semibold: 2.07rem;
--lexend-subtitle-light: 0.83rem;
--lexend-body-light: 1rem;
}

* {
    box-sizing: border-box;
    background-color: var(--background-black);
    padding: 0;
    margin: 0;
}

