.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-color: var(--background-black);
}

.grooveHeader {
  display: flex;
  font-size: 4rem;
  color: var(--groovy-white);
  font-family: 'PP Monument Extended Regular', Arial, Helvetica, sans-serif;
}

.headerContainer {
  display: flex;
  height: 200px;
  align-items: center;
}

.spotifyButton {
  display: flex;
  font-family: 'Lexend Bold' , Arial, Helvetica, sans-serif;
  color: var(--background-black);
  text-decoration: none;
  background-color: #1ed760;
  cursor: pointer;
  width: 243px;
  height: 48px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotifybuttonContainer {
  background-color: #1ed760;
  cursor: pointer;
  width: 243px;
  height: 48px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  height: 700px;
  align-items: center;
}

