.title h1 {
    font-family: 'PP Monument Extended Light';
    color: white;
    padding-top: 30px;
    font-size: 40px;
    /*margin-left: 40px;*/
}

.title h2 {
    font-family: 'Lexend';
    color: white;
    margin-bottom: 40px;
    margin-top: 5px;
    /*margin-left: 43px;*/
}

.title {
    background: black;
    border: solid black 2px;
}

.bar {
    background: black;
}

.container {
    background: black;
    width: 430px;
    margin: 0 auto;
    background-size: cover;
}