.title h1 {
    font-family: 'PP Monument Extended Light';
    color: var(--groovy-white);
    padding-top: 30px;
    font-size: 40px;
    /*margin-left: 40px;*/
}

.title h2 {
    font-family: 'Lexend';
    color: var(--groovy-white);
    margin-bottom: 40px;
    margin-top: 5px;
    /*margin-left: 43px;*/
}

.title {
    background: var(--background-black);
    border: solid var(--background-black) 2px;
}

.bar {
    background: var(--groovy-black);
}

.container {
    background: var(--background-black);
    width: 430px;
    margin: 0 auto;
    background-size: cover;
}