@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Light';
    src: url('/fonts/PPMonumentExtended-Light.otf');
}

@font-face {
    font-family: 'Lexend Semibold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

.parentContainer {
    background: var(--background-black);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    min-height: 852px;
}

.header {
    text-align: center;
    color: white;
}

.logo {
    margin-top: 50px;
}


.welcome {
    font-family: 'PP Monument Extended Light', 'PP Monument Extended Light';
    width: 300px;
    margin-bottom: 20px;
    margin-top: 30px;

}

.test {
    text-align: left;
    width: 300px;
    color: white;
}

.text {
    font-family: 'Lexend';
    margin-bottom: 20px;
}

.start {
    background: var(--background-black);
    color: white;
    border: solid 2px #9e80f1;
    padding: 5px 16px;
    border-radius: 12px;
    margin-top: 20px;
    ;
}

.navBar {
    position: relative;
}