.mainContainer {
    background: var(--background-black);
    width: 430px;
    margin: 0 auto;
    background-size: cover;
}

.parentContainer {
    background: var(--background-black);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    height: 100vh;
}

.groove h1 {
    font-size: 40px;
    color: var(--groovy-white);
    font-family: 'PP Monument Extended Regular';
    padding-top: 30px;
}

.groove {
    background: var(--background-black);
    border: solid var(--background-black) 2px;
    width: 430px;
    padding-left: 28px;
    position: fixed;
    top: 0;
    font-family: 'PP Monument Extended Regular';
}

.header {
    text-align: center;
    color: white;
}

.logo {
    margin-top: 50px;
}


.welcome {
    font-family: 'PP Monument Extended Regular';
    font-size: 30px;
    width: 300px;
    margin-bottom: 20px;
    margin-top: 30px;

}

.test {
    text-align: left;
    width: 300px;
    color: white;
    font-size: var(--lexend-body);
}

.text {
    font-family: 'Lexend';
    margin-bottom: 20px;
}

.start {
    background: var(--background-black);
    font-size: var(--lexend-subheader);
    color: white;
    border: solid 2px #9e80f1;
    padding: 5px 16px;
    border-radius: 12px;
    margin-top: 20px;
}

.navBar {
    position: fixed;
    bottom: 0;
}