@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.ttf');
}

@font-face {
    font-family: 'PP Monument Extended Regular';
    src: url('/fonts/PPMonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'Lexend Bold';
    src: url('/fonts/Lexend-SemiBold.ttf');
}

.songName {
    font-family: 'Lexend Bold';
    font-size: var(--lexend-header-semibold);
    color: var(--groovy-white);
}
.artistName {
    font-family: 'Lexend';
    font-size: var(--lexend-subtitle-light);
    color: var(--groovy-white);
}
.albumImage {
    width: 197px;
    height: 197px;
    border-radius: 11.55px;
    box-shadow: 0px 4px 4px 0px #00000026;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.albumdataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataContainer {
    display: flex;
    width: 405px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.colourBackground {
    height: 378px;
}

.backbuttonContainer {
    width: 405px;
    margin-top: 67px;
    margin-left: 12px;
    margin-bottom: 37px;;
}